@{
    ViewData["Title"] = "Политика за поверителност";
}

<div class="mt-4">
    <h2 class="text-primary mb-3">@ViewData["Title"]</h2>
    
    <p>120% няма да ви откраднем данните!</p>
    <p>Вашите данни се съхраняват сигурно и се използват единствено за целите на наемане на оборудване*.</p>
</div>